<%- include('partials/headers'); -%>

<ul class="recipes">
  <li class="recipe">
    <img src="/campersuit.jpg" alt="smoothie recipe icon">
    <h4>Hood</h4>
    <p>Blue, Green, Yellow</p>
    <h1>Avery App Store</h1>
    <h2>Buy For $25</h2>
    <form action="/pay" method="post">
    <input type="submit" value="Buy">
    </form>
  </li>
  <li class="recipe">
    <img src="/campersuit.jpg" alt="smoothie recipe icon">
    <h4>TShirt</h4>
    <p>Peach, Black , Torqouise</p>
    <h2>Buy For $25</h2>
    <form action="/pay" method="post">
    <input type="submit" value="Buy">
    </form>
  </li>
  <li class="recipe">
    <img src="/campersuit.jpg" alt="smoothie recipe icon">
    <h4>V-neck</h4>
    <p>Peach, Black , Torqouise, Pink</p>
  </li>
  <li class="recipe">
    <img src="/campersuit.jpg" alt="smoothie recipe icon">
    <h4>Round-neck</h4>
    <p>Blue, Green, Yellow, Red</p>
  </li>
  <li class="recipe">
    <img src="/campersuit.jpg" alt="smoothie recipe icon">
    <h4>Baskit</h4>
    <p>Peach, Black , Torqouise, Pink</p>
  </li>
  <li class="recipe">
    <img src="/campersuit.jpg" alt="smoothie recipe icon">
    <h4>Grumpy-neck</h4>
    <p>Blue, Green, Yellow, Red, Black</p>
  </li>
</ul>

<%- include('partials/footer'); -%>