<%- include('partials/headers'); -%>

<header>
  <div class="smoothie">
    <img src="/campersuit.jpg" alt="">
  </div>
  <div class="headings">
    <h2>Design Wears</h2>
    <h3>By Avery</h3>
    <a href="/campersuit" class="btn">View Recipes</a>
  </div>
</header>


<%- include('partials/footer'); -%>